
.container-fluid {
    border-bottom: solid 5px black;
}

label {
    font-size: 150%;
}

input {
   
    background-color: rgb(207, 208, 223);
}

.border-grey {
    border: solid 1px #6c757d;
}

.searched-row {
    padding-left: 20px;
    padding-top: 15px;
    background-color:#6c757d;
    border: solid 1px #343a40
   
}

.low {
    background-color: rgb(50, 241, 146);
    border: solid 2px rgb(50, 241, 146);
    color: black;
}

.moderate {
    background-color: rgb(236, 206, 31);
    border: solid 2px rgb(236, 206, 31);
    color: black;
}

.high {
    background-color: rgb(243, 112, 51);
    border: solid 2px rgb(243, 112, 51);
    color: black;
}

.very-high {
    background-color: rgb(245, 51, 51);
    border: solid 2px rgb(245, 51, 51);
    color: black;
}

.extreme {
    background-color: violet;
    border: solid 2px violet;
    color: black;
}

.forecast-title {
    display: none;
}